<!doctype html>
<html>
<h1 align="center"> Bad Dog!
  <meta charset="utf-8">
  <title>Error Page</title>
</h1>

<body align="center">

<img src="http://pinadog.com/pics/t/716.jpg" alt="what about now?" width=500 height=500>

<br>
<br>
<br>
<br>
<br>
<br>

<form action="/">
  <input type="submit" value="No Treats Toto!">
</form>

</body>
</html>

