<!doctype html>
<html>
<h1 align="center"> Sign Up!
  <meta charset="utf-8">
  <title>Sign Up Page</title>
</h1>

<body align="center">

<form action="/submit_new_user" method="post">
  <p>Enter your name: <input type="text" name="name"></p>
  <p>Enter a valid email address: <input type="text" name="email"></p>
  <p>Enter a valid password: <input type="text" name="password"></p>
  <input type="submit">
</form>

<br>
<br>
or

<br>
<br>
<br>

<form action="/">
  <input type="submit" value="Go Home Toto!">
</form>

</body>
</html>
