<!doctype html>
<html>
<h1 align="center"> You Have A New Password Toto!
  <meta charset="utf-8">
  <title>Password Success Page</title>
</h1>

<body align="center">

  <<table align="center" border="0">
    <tr>
      <td>
        <form action="/dashboard">
         <input type="submit" value="Go Home Toto!">
        </form>
      </td>
      &nbsp;
      <td>
        <form action="/user_account_settings">
          <input type="submit" value="Change Your Settings Toto!">
        </form>
      </td>
      &nbsp;
      <td>
        <form action="/submit_logout" method="post">
          <input type="submit" value="Goodbye Toto!">
        </form>
      </td>
    </tr>
  </table>

</body>
</html>