<!doctype html>
<html>
<h1 align="center"> You Have A New Password Toto!
  <meta charset="utf-8">
  <title>Password Success Page</title>
</h1>

<body align="center">

  <form action="/user_account_settings">
    <input type="submit" value="Change Your Settings Toto!">
  </form>

</body>

<body align="center">

<br>
<br>
or

<br>
<br>
<br>

<form action="/submit_logout" method="post">
  <input type="submit" value="Goodbye Toto!">
</form>

</body>
</html>


