<!doctype html>
<html>
<h1 align="center"> Goodbye Toto!
  <meta charset="utf-8">
  <title>User Deleted</title>
</h1>

<body align="center">

  <table align="center" border="0">
    <tr>
      <td>
        <form action="/dashboard">
         <input type="submit" value="Go Home Toto!">
        </form>
      </td>s
    </tr>
  </table>

</body>
</html>