<!doctype html>
<html>
<h1 align="center"> Welcome!
  <meta charset="utf-8">
  <title>New Account Created</title>
</h1>

<body align="center">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form action="/">
  <input type="submit" value="Get In Here Toto!">
</form>

</body>
</html>
