<!doctype html>
<html>
<h1 align="center"> Change Stuff!
  <meta charset="utf-8">
  <title>Sign Up Page</title>
</h1>

<body align="center">

<form action="/submit_password_reset" method="post">
  <p>Enter your email address: <input type="text" name="email"></p>
  <p>Enter a new valid password: <input type="text" name="new_password"></p>
  <input type="submit" value="Change Your Password Toto!">
</form>

<br>
<br>
<br>

<form action="/submit_delete_account" method="post">
  <p>Enter your email address: <input type="text" name="email"></p>
  <input type="submit" value="Delete Your Account Toto!">
</form>

<br>
<br>
<br>

<form action="/dashboard">
  <input type="submit" value="Go Home Toto!">
</form>

</body>
</html>
