<!doctype html>
<html>
<h1 align="center"> Make A Task!
  <meta charset="utf-8">
  <title>Create Task Page</title>
</h1>

<body align="center">







<form action="/submit_todo_form" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Description: <input type="text" name="description"></p>

  <select name="user_id">
  <option>Give a dog a bone, Toto...</option>
  <% @dogs.each do |dog| %>
    <option value="<%= dog.id %>"> <%= dog.name %></option>
  <% end %>
  </select>

  <input type="submit" value="Save Task Toto!">
</form>













<br>
<br>
<table align="center" border="0">
    <tr>
      <td>
        <form action="/dashboard">
         <input type="submit" value="Go Home Toto!">
        </form>
      </td>
      &nbsp;
      <td>
        <form action="/user_account_settings">
          <input type="submit" value="Change Your Settings Toto!">
        </form>
      </td>
      &nbsp;
      <td>
        <form action="/submit_logout" method="post">
          <input type="submit" value="Goodbye Toto!">
        </form>
      </td>
    </tr>
  </table>

</body>
</html>

</body>
</html>




