<!doctype html>
<html>
<h1 align="center"> Make A Task!
  <meta charset="utf-8">
  <title>Create Task Page</title>
</h1>

<body align="center">

<form action="/submit_todo_form" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Description: <input type="text" name="description"></p>
  <input type="submit" value="Save Task Toto!">
</form>

<br>
<br>
or

<br>
<br>
<br>

<form action="/create_user_form">
  <input type="submit" value="Create an Account Toto!">
</form>

</body>
</html>




