<!doctype html>
<html>
<h1 align="center"> Good Dog!
  <meta charset="utf-8">
  <title>Todo Page</title>
</h1>

<body align="center">

<% if @user_tasks == nil %>
  No Tasks Yet Toto!
<% else %>
  <% @user_tasks.each do |task| %>
    <%= user_tasks.title %>
    <%= user_tasks.description %>
  <% end %>
<% end %>














<br>
<br>

  <form action="/create_todo_form">
    <input type="submit" value="Add a Task Toto!">
  </form>

<br>
<br>



  <form action="/user_account_settings">
    <input type="submit" value="Change Your Settings Toto!">
  </form>

<br>
<br>

or

<form action="/submit_logout" method="post">
  <input type="submit" value="Goodbye Toto!">
</form>

</body>
</html>


