<!doctype html>
<html>
<h1 align="center"> Good Dog!
  <meta charset="utf-8">
  <title>Todo Page</title>
</h1>

<body align="center">

Show a list of all to do items. clickable to update page. or delete next to each one... or delete all?

<br>
<br>

  <form action="/create_todo">
    <input type="submit" value="Add a Task Toto!">
  </form>

<br>
<br>



  <form action="/user_account_settings">
    <input type="submit" value="Change Your Settings Toto!">
  </form>

<br>
<br>

or

<form action="/submit_logout" method="post">
  <input type="submit" value="Goodbye Toto!">
</form>

</body>
</html>


