<!doctype html>
<html>
<h1 align="center"> Make Todo Lists Toto!
  <meta charset="utf-8">
  <title>Todo Page</title>
</h1>

<body align="center">

  <form action="/user_account_settings">
    <input type="submit" value="Change Your Settings Toto!">
  </form>

<br>
<br>
or

<br>
<br>
<br>

<form action="/submit_logout" method="post">
  <input type="submit" value="Goodbye Toto!">
</form>

</body>
</html>


