s<!doctype html>
<html>
<h1 align="center"> Good Dog!
  <meta charset="utf-8">
  <title>Delete Todo Success</title>
</h1>

<body align="center">

delete was successful

<br>
<br>

  <form action="/create_todo_form">
    <input type="submit" value="Add a Task Toto!">
  </form>

<br>
<br>

  <table align="center" border="0">
    <tr>
      <td>
        <form action="/dashboard">
         <input type="submit" value="Go Home Toto!">
        </form>
      </td>
      &nbsp;
      <td>
        <form action="/user_account_settings">
          <input type="submit" value="Change Your Settings Toto!">
        </form>
      </td>
      &nbsp;
      <td>
        <form action="/submit_logout" method="post">
          <input type="submit" value="Goodbye Toto!">
        </form>
      </td>
    </tr>
  </table>

</body>
</html>